body{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family:'Noto Sans JP';
}
h3{
	font-size: 28px;
}
table{
	margin:auto;

}
td{
	padding:0 12px;
}
table {
	display: block;
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
  }

  .p{
	  width:60vw;
	  margin:0 20vw;
  }