body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family:'Noto Sans JP';
}
header{
	position: fixed;
	top:0;
	width:100vw;
	height:10vh;
	overflow:hidden;
	padding:0 32px;
	background-color: #fff;
	box-sizing: border-box;
}
.main:before{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100vw;
    height:100vh;
    background:url("bg.png") no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    content:"";
}
div{
	overflow:hidden;
	box-sizing: border-box;
}
section{
	height:100vh;
	overflow: hidden;
}
h3{
	width:100%;
	text-align: center;
	font-size: 32px;
	margin:0;
	padding: 16px 0;
}
.logo{
	width:60%;
	height:100%;
	padding:4px 0;
	position:absolute;
	left:32px;
}
.logo img{
	max-width:100%;
	max-height: 100%;
}
.hum{
	width:10vh;
	height:10vh;
	background-color: rgb(255, 255, 255);
	position:absolute;
	right:5px;

}
.hum span{
	display:block;
	width:30px;
	height:2px;
	margin:5px auto;
	
	background-color: black;
}
.hum span:nth-of-type(1){
	margin-top:calc(5vh - 10px);
}
#section1{
	width:100vw;
	height:90vh;
	margin-top:10vh;
}
#section1 img{
	width:100%;
}
#section2{
	position: fixed;
	display: table;
	top:-1000vh;
	width:0;
	height:0;
	opacity:0;
	background-color: rgb(170, 170, 170);
	animation-name: opening ;
	animation-duration: 5s;
}
#section2 p{
	height:100%;
	text-align: center;
	vertical-align: middle;
	font-size:16px;
	display:table-cell;
}
@keyframes opening{
	0%{
		top:0;
		opacity:1;
		width:100vw;
		height:100vh;
	}
	60%{
		top:0;
		opacity:1;
		width:100vw;
		height:100vh;
	}
	100%{
		top:0;
		opacity:0;
		width:100vw;
		height:100vh;
	}
}
#section3 div{
	width:46%;
	height:40vh;
	padding:8px;
	margin:2%;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	float:left;
}
#section3 img{
	width:100%;
	
}
#section6{
	height:auto;
}
.card{
	width:85%;
	height:auto;
	margin:32px auto;
	padding:32px;
	border-radius: 32px;
	background-color:rgba(255, 255, 255, 0.6);
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#more{
    animation: show .3s linear 0s;
	position: fixed;
	width:100vw;
	height: 100vh;
	z-index: 3;
	top:0;
	background-color: rgba(0, 0, 0, 0.4);
	overflow:scroll;
}

#more p{
	width:92vw;
	height:auto;
	margin:32px auto;
	padding:16px;
	border-radius: 16px;
	background-color:rgba(255, 255, 255,1);
	box-sizing: border-box;

}
.hid{
	display: none;
}
.card1{
	width:92%;
	height:auto;
	margin:32px auto;
	padding:32px;
	border-radius: 32px;
	background-color:rgba(255, 255, 255, 0.6);
}
#more-button{
	width:30px;
	height:30px;
	background-color: aqua;
}
#close-button{
	width:30px;
	height:30px;
	background-color: aqua;
}
.card h4{
	text-align: center;
	margin:0 0 16px 0;
	font-size:18px;
}
.gaiyou1{
	text-align: center;
	font-size:16px;
	margin:16px 0;
	line-height: 32px;
}
.gaiyou1 span{
	font-size:1.5rem;
	padding:0 2px;
}
.gaiyou2{
	margin:0 auto;
	width:fit-content;
	display:block;
	font-size:0.7rem;
}
.card table{
	margin:16px auto;
}
.ticet-table tr td:nth-of-type(2){
	font-size: 1.5rem;
	text-align: right;
}
td{
	vertical-align: bottom;
}
.ticket-syousai{
	margin:0 auto;
	width:fit-content;
	display:block;
	font-size:0.7rem;
}
.info-table tr td{
	padding:4px 3px;
}
.info-table tr td{
	text-align: center;
	vertical-align: middle;
}
.info-table tr :nth-of-type(2){
	text-align: left;
}