.visi{
	display:block !important;
	position: fixed;
	opacity:1 !important;
	top:0;
	left:0;
	width: 100vw;
	height:100vh;
	box-sizing: border-box;
	margin:10vh 0 0;
	background-color:rgba(0, 0, 0, .6);
	z-index:3;
	animation-name: menu-open ;
	animation-duration: .4s;
}

@keyframes menu-open{
	0%{
		opacity: 0;
		transform: translate(0, -30px);
		transform:scale(1.01);
	}
	100%{
	}
}
.menu-container{
	width:100%;
	height:auto;
	background-color: #fff;
	padding:8px 0;
}
#menu{
	display:none;
	opacity:0;
}
.visi a{
	box-sizing: border-box;
	display: block;
	width:calc(100% - 32px);
	padding:14px 16px;
	font-size:18px;
	text-decoration: none;
	color: #000000;
	font-weight: 600;
	margin:0 16px;
	box-sizing: border-box;
}
.visi a:nth-child(n+2){
	border-top:1px solid #eee;
}
body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family:'Noto Sans JP';
	width:100%;
	overflow-x: hidden;
}
header{
	position: fixed;
	top:0;
	width:100%;
	padding:0 32px;
	background-color: #fff;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow:  0px 0px 3px 0px rgba(0,0,0,0.2);
	z-index: 4;
	border-bottom:1px solid rgba(0, 0, 0, .2);
	height:10vh;
}
.logo{
	height:55%;
}
.logo img{
	max-width:100%;
	max-height: 100%;
}
.hum{
	font-size:3.5vh;
}
.main:before{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background:url("bg.png") no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    content:"";
}
div{
	overflow:hidden;
	box-sizing: border-box;
}
section{
	overflow: hidden;
}
h3{
	width:100%;
	text-align: center;
	font-size: 32px;
	margin:0;
	padding:10vh 0 16px;
}
main{
	padding-top:10vh;
}
#section1{
	width:100%;
	height:90vh;
}
#section1 img{
	width:100%;
}
#section2{
	position: fixed;
	display: table;
	top:-1000vh;
	left:0;
	width:0;
	height:0;
	opacity:0;
	background-color: #EBEBEB;
	animation-name: opening ;
	animation-duration: 5s;
	z-index:10;
}
#section2 p{
	height:100%;
	text-align: center;
	vertical-align: middle;
	font-size:16px;
	display:table-cell;
}

#section4 div{
	width: 100%;
	height:80%;
	padding-left: 10px;
	padding-right: 2px;
	text-align: center;
}

@keyframes opening{
	0%{
		background-color: #EBEBEB;
		top:0;
		opacity:1;
		width:100vw;
		height:100vh;
		color:#00000000;
	}
	20%{
		top:0;
		opacity:1;
		width:100vw;
		height:100vh;
		color:#00000000;

	}
	60%{
		top:0;
		opacity:1;
		width:100vw;
		height:100vh;
		color:#000000;
	}
	70%{
		top:0;
		opacity:1;
		width:100vw;
		height:100vh;
		color:#000000;
	}
	100%{
		background-color: #EBEBEB;
		top:0;
		opacity:0;
		width:100vw;
		height:100vh;
	}
}
#section3{
	width:100%;
	margin:auto;
}
.grid-guest{
	display: grid;
	grid-template-columns: 50% 50%;
}
.guest0{
	grid-column-start: 1;
	grid-column-end: 3;
}
#section3 h4{
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	background: rgba(0,0,0,.6);
	color:#fff;
	font-size:1.2rempx;
	margin:0;
	padding:32px 0 8px;
}
#section3 .img-frame{
	width:100%;
	text-align: center;
	min-height:40vh;
	padding:0 0 32px;
	background-color: rgba(255, 255, 255, .6);
	overflow: hidden;
}
.u2 {
	background-color: rgba(0,0,0, .6) !important;
}
.u2 .name1{
	
	color:#FFF !important;
}
.guest0{
	width:100%;
}
#section3 img{
	width:100%;
	height:65vw;
	object-fit:cover ;
	object-position: 50% 0;
}
.img-frame .name1{
	padding:0 8px;
	font-size:.8rem;
}
.img-frame .name2{
	font-size:.6rem;
}
#section3 .img-frame , #section3 .img-frame a{
	text-decoration: none;
	color:#2c2c2c;
	font-weight: 600;
}
.modaal-container{
	background-color: #EBEBEB !important;
}
.modaal-container img{
	width:calc(100% + 60px);
	position: relative;
	margin-top:-30px;
	margin-left:-30px;
}
.modaal-container .name1{
	position: relative;
	width:calc(100% + 60px);
	height:200px;
	padding:124px 32px 0;
	text-align: right;
	background:linear-gradient(to bottom, #ffffff00, rgba(0, 0, 0, 1));
	margin-left:-30px;
	margin-top: -200px;
	color: #FFF;
	overflow: hidden;
	font-size: 32px;
	font-weight: bold;
}
.modaal-container .name2{
	font-size:.8rem;
}
.modaal-container p{
	margin-top:32px;
	line-height: 1.8rem;
}

.button003{
	margin:16px auto; 
	z-index: 1;
}
.button003 a {
    background: #0577B4;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 260px;
    padding: 10px 25px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    font-weight: 500;
	text-align: center;
}
.button003 a:hover {
    background: #313131;
    color: #FFF;
}
.ticket-button{
	position: fixed;
	background-color: #0577B4;
	bottom:20px;
	right:20px;
	border-radius: 8px;
	box-shadow:  0px 0px 4px 0px rgba(0,0,0,0.2);
	z-index:2;
}
.ticket-button a{
	display: inline-block;
	padding:16px 32px; 
	color: #ffffff;
	font-weight:bold;
	text-decoration: none;
}


#section6{
	height:auto;
}
.card{
	width:85%;
	height:auto;
	margin:16px auto;
	padding:32px;
	border-radius: 32px;
	background-color:rgba(255, 255, 255, 0.6);
}
.hid{
	display:none;
}
.card1{
	width:92%;
	height:auto;
	margin:16px auto;
	padding:32px;
	border-radius: 32px;
	background-color:rgba(255, 255, 255, 0.6);
}
#more-button, #close-button{
	width:50%;
	padding:10px 25px;
	text-align: center;
	margin:8px auto;
	background-color: #0577B4;
	color:white;
	border-radius: 16px;
	text-decoration: underline;
	font-weight: bold;
}
.card h4{
	text-align: center;
	margin:0 0 16px 0;
	font-size:18px;
}
.gaiyou1{
	text-align: center;
	font-size:16px;
	margin:16px 0;
	line-height: 32px;
}
.gaiyou1 span{
	font-size:1.5rem;
	padding:0 2px;
}
.gaiyou2{
	margin:0 auto;
	width:fit-content;
	display:block;
	font-size:0.7rem;
}
.card table{
	margin:16px auto;
}
.ticet-table tr td:nth-of-type(2){
	font-size: 1.5rem;
	text-align: right;
}
td{
	vertical-align: bottom;
}
.ticket-syousai{
	margin:0 auto;
	width:fit-content;
	display:block;
	font-size:0.7rem;
}
.info-table tr td{
	padding:4px 3px;
} 
.info-table tr td{
	text-align: center;
	vertical-align: middle;
}
.info-table a{
	color:#07547e;
	text-decoration: none;
}
footer{
	width: 100vw;
	font-size: 12px;
	padding:16px 16px 80px;
	box-sizing: border-box;
	text-align: center;
	background-color: rgba(255, 255, 255, .6);
}
footer table{
	margin:auto;
}
.bigger{
	font-size:1.5rem;
}
@media screen and (min-width:700px) {
	header{
		height:15vh;
	}
	main{
		max-width:700px;
		margin:auto;
		font-size:16px;
	}
	#section3 img {
    height: auto;
	}
	.grid-guest{
		grid-template-columns:25% 25% 25% 25%;
	}
	.guest0{
		grid-row-start: 1;
		grid-row-end: 3;
	}
	#section1{
		height:auto;
	}
	.modaal-container{
		max-width:600px !important;
		margin:auto !important;
	}
	
}